body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#post-container{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card{
    background-color: rgb(193, 193, 202);
    padding: 10px;
    border-radius: 10px;
}